# database
POSTGRESQL_DATABASE=studyroom

POSTGRESQL_USERNAME=studyuser

POSTGRESQL_PASSWORD=study123456

# postgres admin password
POSTGRESQL_POSTGRES_PASSWORD=studyroot123456

# replication
POSTGRESQL_REPLICATION_USER=replicator

POSTGRESQL_REPLICATION_PASSWORD=replicator123456

# host ports
POSTGRESQL_PRIMARY_PORT=5012

POSTGRESQL_REPLICA_1_PORT=5014

POSTGRESQL_REPLICA_2_PORT=5015
